*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid black;
}

header{
	height: 110vh;
	background: url(../images/bg2.jpg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul{
	display: flex;
	list-style-type: none;
	color: whitesmoke;
}

nav > ul > li{
	margin: 20px;
}

/*Styling for all button*/

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btnWine{
	background-color: lightpink;
	font-size: 15px;
	font-weight: bold;
	color: red;
}

#wineBtn{
	position: absolute;
	right: 100px;
	top: 17px;
	transition: 0.3s;
}

#wineBtn: hover{
	top: 15px
}

/*Dissapearing Menu CSS*/

.submenu{
	background-color: grey;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover{
	visibility: visible;
}

.submenu > div{
	width: 25%;
}

div + div{
	border-left: 1px solid whitesmoke;
}

.submenu > div > h4, div > .submenu > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover{
	background-color: darkgrey;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1{
	font-size: 55px;
	color: gainsboro;
}

.header-text > div > .btn{
	margin-top: 20px;
	background-color: navy;
	color: white;
}

.header-text > h1, .header-text > p, .header-text > div > button{
	margin-left: 50px
}

/*End of Header*/

/*Start of Quote CSS*/

.quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div{
	width: 50%;
}

.quote > div > p{
	text-align: center;
}

.quote > div > div{
	text-align: center;
	margin-top: 20px;
}

/*End of Quote CSS*/


/*Video Section*/

.section3 {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}

.section3 > section {
	width:50%;
}

.section3-left{
	text-align: right;
}

.section3 img {
	width: 550px;
	height: 300px;
	justify-content: center;
	align-items: center;
}

.section3-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.section3-right > div {
	height: 300px;
	padding-right: 50px;
}

.section3-right > div > div > p {
	color: gray;
	margin-bottom: 10px;
}

.section3-right > div > div > h3 {
	font-size: 30px;
}

.bottom-content {
	display: flex;
}

.bottom-content > div {
	width: 50%;
}

.bottom-content > div > h1 {
	font-size: 60;
}

.bottom-content > div > h1 > span {
	font-size: 20;
	position: relative;
	bottom: 10px;
}

.bottom-content > div > p {
	font-size: 12;
	color: gray;
}

/*Section 4 with Hover Image*/

.section4Top {
	height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.section4Top > div{
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec4Content{
	
}
